.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_left,
.navbar_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
